html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(27, 25, 25);


}

.container-fluid{
    width: 100%;
}

.bg{
    background-color: green;

}

.navbar-brand{

    margin-left: 80px;
    color:black;
}
.navbar-nav{
    margin-left: 490px;
}
.nav-link{
    color: black;
}
.navbar-collapse{
    margin-left: 3px;
}


section{
    background-color: rgb(27, 25, 25);
    width: 100%;
    
    height: 550px;

}


.main,.main2{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.main-title,.main-title2{
    width: 30%;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(228, 228, 228);
    margin-top:160px;
}
.main-title h2{
    font-size: 60px;
    color:white;
}
.main-title h4{
    font-size: 40px;
    color: green;
}

.main-img,.main-img2{
    width: 30%;
    margin-top: 60px;

}

.main-img img,.main-img2 img{
    width: 100%;

}

.details{
    display: flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.det{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 23%;
    color: white;
    background-color: rgb(49, 51, 53);
    transition: 0.5s;
   
}
.det:hover{ box-shadow: 2px 2px 2px 2px gray,
    -2px -2px 2px 2px gray
}   


.det1{
    margin-top:10px ;
    color: green;
    
}

@media(max-width:750px) {
    .navbar-nav{
        margin-left: 20px;
    }
    .det{
        width: 40%;
        margin-bottom: 10px;
    }
    
}



.p1{
    color: white;
    font-size: 40px;
   
    margin-bottom: 10px;
}
hr{
height: 2px;
width: 80%;
margin: auto;
margin-top: 40px;
margin-bottom: 40px;
background: linear-gradient(to right, #00ccff 0%, #00ff99 100%);

}

.p2{

    color: white;
    font-size:  20px;
}
.main-title3{
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#spn1{
    color: green;

}
#spn2{
    color: orange;
    
}

.mySwiper {
    width: 100%;
    height: 100%;
    display: flex;
  
   
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(94, 94, 91);
    border-radius:10px ;
    align-items: center;
    width: 30%;
    height: 380px;
    flex-direction:column ;
    color: white;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
    object-fit: cover;
  }

  .swiper-pagination-bullet{
    background-color:white
}
.swiper-pagination-bullet-active{
    background-color:#009933
}
.swiper-pagination{
    top: 420px;
}

.sw2{
    height: 75%;
    
}
.sw2 img{
    position: relative;
    width: 100%;
    height: 100%;
}
.textcorse{
    position: absolute;
    top: 60%;
    background-color: rgba(6, 6, 6, 0.546);
    width: 90%;
    left: 15px;
    border-radius: 3%;

}
.sw2:hover .textcorse{
    background-color: rgba(6, 6, 6, 0.911);
}

.sw3{
    top:450px;
}


.main-title4{
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: 20px;
  
}
.maincard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.card{

    width: 22%;
    height:280px;
}


.card-img-top{
    width: 90px;
    margin:auto;
    height: 90px;
    border-radius:50% ;
}



.main-title5 {  
    text-align: center;
   position: relative;
}
.form1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.img6{
    
    width: 50%;
   
}

/* .form-group{
    width: 180%;
    position: relative;
    bottom: 180px;

} */
.form-control{
    width: 80%;
}

.mainform{
    
   
width: 50%;
    
    
}
.stars{
text-align: center;
    width: 100%;
}
/* .btn{
    position: relative;
    bottom: 180px;
} */

label{
    color: azure;
}

@media(max-width:600px){
    .det{
        width: 80%;
    }
.main-title,.main-img{
    width: 100%;
}    
section{height: 1300px;}
.main-title2,.main-img2{
    width: 100%;
}
.card{
    width: 45%;
    margin-bottom: 10px;
}
.img6{
    display: none;
}
.mainform{
    width: 100%;
}
}